<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <% if @description.present? %>
      <meta name="description" content="<%= @description %>" />
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
